html, body {
  height: 100%;
  margin: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

h1, em, .dock-tab {
  font-family: sans-serif;
}

#app {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100%;
}

#header {
  padding: 1em;
}

#root > .dock-layout {
  min-height: 100%;
}

.basbolt-help {
  width: 100%;
  height: 100%;
}

.asm-view {
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    "compiling-message"
    "asm-blocks";
}

.asm-view-compiling {
  grid-area: compiling-message;
  text-align: center;
  padding: 1em;
  font: 12px sans-serif;
  color: gray;
  background-color: #fafafd;
}

.asm-view > :last-child {
  grid-area: asm-blocks;
}

.sourceError {
  text-decoration: underline red wavy;
}

.blockColor0 {
  opacity: 0.5;
  background: #c9e4de;
}
.blockColor1 {
  opacity: 0.5;
  background: #c6def1;
}
.blockColor2 {
  opacity: 0.5;
  background: #faedcb;
}
.blockColor3 {
  opacity: 0.5;
  background: #dbcdf0;
}
.blockColor4 {
  opacity: 0.5;
  background: #f7d9c4;
}
.blockColor5 {
  opacity: 0.5;
  background: #f2c6de;
}
.blockColor6 {
  opacity: 0.5;
  background: #e2cfc4;
}
.blockColor7 {
  opacity: 0.5;
  background: #f9c6c9;
}
.blockColor8 {
  opacity: 0.5;
  background: #d2d2cf;
}
.blockColor9 {
  opacity: 0.5;
  background: #e2e2df;
}
  
div.hover-row.status-bar {
  display: none !important;
}
